<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postal Calculator Results</title>
</head>
<body>
    <h1>Postal Rate</h1>
    Cost: $<%= result %><br><br>

    Type: <%= type %><br><br>

    Weight: <%= weight %><br><br>
</body>
</html>